/* --------- BODY --------- */
body{
  background-color: rgb(26, 5, 87);
  margin: 0px;
}

/* --------- NAV --------- */
.nav{
  width: 100%;
  height: 60px;
  border:solid 1px white;
  background-color: #383842;
}
/* --------- MENU --------- */
.menu{
  width: 10%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #3d4047;
}

.menuButton{
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border: solid 1px white;
  color: white;
  padding: 5px;
  text-align: center;
  display: block;
  margin: 5px auto auto 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 20px;
}

/* --------- PANEL --------- */
.panel{
  width: 30%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #33333b;
}

/* --------- PALETA --------- */
.paleta{
  display: none;
}

/* --------- FILTROS --------- */
.filtros{
  display: none;
}
.canvansFiltros{
  width: 70%;
  height: 20%;
  border: solid 1px white;
  display: block;
  margin: 5px auto 10px auto;
  cursor: pointer;
}
/* --------- CANVAS --------- */
.canvas{
  width: 59%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #1f2024;
}
#canvasMain{
  width: 80%;
  height: 600px;
  display: block;
  margin: 10% auto auto auto;
  border: solid 1px white;
}
#canvasNoEditable{
  display: none;
}
