/* --------- BODY --------- */
body{
  background-color: rgb(26, 5, 87);
  margin: 0px;
}

/* --------- NAV --------- */
.nav{
  width: 100%;
  height: 60px;
  border:solid 1px white;
  background-color: #383842;
}
/* --------- MENU --------- */
.menu{
  width: 10%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #3d4047;
}

.menuButton{
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border: solid 1px white;
  color: white;
  padding: 5px;
  text-align: center;
  display: block;
  margin: 5px auto auto 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 20px;
}

/* --------- PANEL --------- */
.panel{
  width: 30%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #33333b;
}

/* --------- PALETA --------- */
.paleta{
  display: none;
}
.colores{
  display: flex;
  margin: 10% auto auto auto;
  width: 80%;
  height: 30px;
  border: solid 1px white;
}
.color{
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: solid 1px white;
  /* float: left; */
  cursor: pointer;
  margin: 2px 5px auto 5px;
}
.color #negro{background-color: black;}
.color #blanco{background-color: white;}
.color #rosa{background-color: "#fbb6d3";}
.color #azul{background-color: "#6eb7d7";}
.color #rojo{background-color: "#f26866";}
.color #verde{background-color: "#86ca5d";}
.color #amarillo{background-color: "#ffed51";}
.color #marron{background-color: "#c0ba98";}
.color #naranja{background-color: "#fcaa85";}
.color #violeta{background-color: "#a58ac1";}
/* --------- FILTROS --------- */
.filtros{
  display: none;
}
.canvansFiltros{
  width: 70%;
  height: 20%;
  border: solid 1px white;
  display: block;
  margin: 5px auto 10px auto;
  cursor: pointer;
}
/* --------- CANVAS --------- */
.canvas{
  width: 59%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #1f2024;
}
#canvasMain{
  width: 80%;
  height: 600px;
  display: block;
  margin: 10% auto auto auto;
  border: solid 1px white;
}
#canvasNoEditable{
  display: none;
}
