/* --------- BODY --------- */
body{
  background-color: rgb(26, 5, 87);
  margin: 0px;
}

/* --------- NAV --------- */
.nav{
  width: 100%;
  height: 60px;
  border:solid 1px white;
  background-color: #383842;
}
/* --------- MENU --------- */
.menu{
  width: 10%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #3d4047;
}

.menuButton{
  width: 80%;
  height: 30px;
  border-radius: 10px;
  border: solid 1px white;
  color: white;
  padding: 5px;
  text-align: center;
  display: block;
  margin: 5px auto auto 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 20px;
}

.menuButton:hover{
  box-shadow: 3px 3px #888888;
}

/* --------- PANEL --------- */
.panel{
  width: 30%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #33333b;
}

/* --------- PALETA --------- */
.paleta{
  display: none;
}
.tools{
  border: solid 1px white;
  width: 90%;
  height: 150px;
  display: flex;
  margin: 10% auto auto auto;
}
#lapiz, #goma{
  color: white;
  display: block;
  border: solid 1px white;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}
.tamaños{
  color: white;
  display: inline-grid;
  border: solid 1px white;
  border-radius: 5px;
  width: 50%;
  height: 100px;
  margin: 24px auto auto auto;
}
.tamaño{
  color: white;
  display: block;
  border: solid 1px white;
  width: 70%;
  height: 20px;
  margin: 8px auto auto auto;
  cursor: pointer;
}
.tamañoShow{
  background-color: white;
  margin: 0px;
  width: 100%;
  height: 100%;
}
#tam2{
  height: 60%;
  margin-top: 0px;
}
#tam1{
  height: 20%;
  margin-top: 10px;
}
.colores{
  display: flex;
  margin: 10px auto auto auto;
  width: 90%;
  height: 30px;
  border: solid 1px white;
}
.color{
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: solid 1px white;
  /* float: left; */
  cursor: pointer;
  margin: 2px 5px auto 5px;
}
.colores #negro{background-color: black;}
.colores #blanco{background-color: white;}
.colores #rosa{background-color: #fbb6d3;}
.colores #azul{background-color: #6eb7d7;}
.colores #rojo{background-color: #f26866;}
.colores #verde{background-color: #86ca5d;}
.colores #amarillo{background-color: #ffed51;}
.colores #marron{background-color: #c0ba98;}
.colores #naranja{background-color: #fcaa85;}
.colores #violeta{background-color: #a58ac1;}

#lapiz:hover,#goma:hover, {
  border: solid 2px yellow;
}
/* --------- FILTROS --------- */
.filtros{
  /* display: none; */
}
.canvansFiltros{
  width: 70%;
  height: 20%;
  border: solid 1px white;
  display: block;
  margin: 5px auto 10px auto;
  cursor: pointer;
}
/* --------- CANVAS --------- */
.canvas{
  width: 59%;
  height: 900px;
  border: solid 1px white;
  float: left;
  background-color: #1f2024;
}
#canvasMain{
  width: 80%;
  height: 600px;
  display: block;
  margin: 10% auto auto auto;
  border: solid 1px white;
}
#canvasNoEditable{
  display: none;
}
